.blue{
    height: 60px;
    background-color: #007079;
}

.navbar-brand{
    color: #d9edf7;
}

#navigationprincipale{
    color: #007079;
}

#inputboutonrecherche{
    border-radius: 5px;
    height: 30px;
}

#boutonrecherche{

    height: 30px;
    width: 10px;
    margin-top: 9px;
}
#iconrecherche{
    padding-bottom: 6px;
}

.form-control{
    margin-top: 10px;
    border-radius: 5px;
}
#imageevenement{
    height: 25px;
    width: 25px;
    margin-left: -10px;
}
#titrevenement{
    font-weight: bold;
    font-size: 14px;
    padding-left: 3px;
}
#detailsevenement{
    font-size: 11px;
    padding-left: 3px;
}
#prenomnomauteur{
    font-weight: bold;
    padding-left: 6px;
}
#detailpublication{
    padding-left: 6px;
}

#publicationi{
    border-bottom-color: #007079;
}
#listevenements{
    margin-top: 10px;
}

.mdb-feed{
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 15px;
}
.view {
    height: 100%;
    border-radius: 5px;
}

.name{
    color: #000000;
    font-weight: bold;
}
.date{
    color: #000000;
    font-size: small;
}


#photopubliee{
    max-height: auto;
    width: 200px;
    margin: 5px;
}
.comment{
    color: #000000;
    margin-top: 5px;
    border-radius: 5px;
}
.text{
    color: #000000
;
}
.md-textarea{
    color: #000000;
}

.thumbs{
    color: #000000;
}

.news{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#reply{
    margin-top: 5px;
    border-radius: 5px;
}
#cancel{
    margin-top: 5px;
    border-radius: 5px;
}
#photoprofil{
    max-height: 100%;
    width: 45px;
}

#logo{
    margin-top: -35px;
}